# Lab: Inferential statistics - T-test & P-value
## Instructions

1. *One tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

2. *Matched Pairs Test* - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.


## OPTIONAL PART | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

### Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

#### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)


### Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Solutions
## One-tailed test
*One tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [4]:
machine = pd.read_csv('files_for_lab/machine.txt', delimiter='\t', encoding="utf-16")
machine.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [6]:
machine.columns

Index(['New machine', '    Old machine'], dtype='object')

In [7]:
machine = machine.rename(columns={'New machine': 'new_machine', '    Old machine': 'old_machine'})
machine.columns

Index(['new_machine', 'old_machine'], dtype='object')

In [8]:
t_stat_mach, p_value_mach = st.ttest_ind(machine['new_machine'], machine['old_machine'], equal_var=False)

In [18]:
print("The p-value is {:.4f}".format(p_value_mach))
print("The t-statistic is {:.4f}".format(t_stat_mach))

The p-value is 0.0032
The t-statistic is -3.3972

### Conclusion
Based on the given data, and assuming a significance level (alpha) of 0.05, we can reject the H0 (means of both machines are the same) and say that the new machine is significantly faster than the old one.

## Matched Pairs Test
*Matched Pairs Test* - In this challenge we will compare **dependent samples** of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [19]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [21]:
t_stat_poke, p_value_poke =st.ttest_rel(pokemon['Defense'], pokemon['Attack'])

In [22]:
print("The p-value is {:.4f}".format(p_value_poke))
print("The t-statistic is {:.4f}".format(t_stat_poke))

The p-value is 0.0000
The t-statistic is -4.3256

### Conclusion
Based on the results of the test, we can reject the null hypothesis that the scores of the defense and the attacks of the Pokemons are the same for a significance level of 0.05 (even if the significance level was 0.01). The scores of the defense are significantly lower than those of the attack.

## OPTIONAL PART | Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

### Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

#### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)


### Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [24]:
plasma = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
display(plasma.shape)
display(plasma.head())

(15, 2)

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [25]:
plasma['Power '].value_counts()

160 W    5
180 W    5
200 W    5
Name: Power , dtype: int64

- H0: changing the power of the plasma beam has NO effect on the etching rate by the machine (no difference between any of the means)
- H1: changing the power of the plasma beam has effect on the etching rate by the machine (at least one mean is different)
 $$alpha = 0.05$$
 - DoF: 3 groups so 2, 5 samples, so 4. DoF = 2,4

In [34]:
S2t = 0
for power in plasma['Power '].unique():
    ng = len(plasma[plasma['Power '] == power])  
    S2t  += ( ( plasma[plasma['Power '] == power]['Etching Rate'].mean() - plasma['Etching Rate'].mean() ) ** 2) * ng # SST
S2t /= ( plasma['Power '].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

In [36]:
S2E = 0
for power in plasma['Power '].unique():
    for rate in plasma[plasma['Power '] == power]['Etching Rate']:
        S2E += ( rate - plasma[plasma['Power '] == power]['Etching Rate'].mean() ) ** 2 # SSE
S2E /= ( len(plasma) - plasma['Power '].nunique() ) 

print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [37]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [29]:
plasma['power_count'] = plasma.groupby('Power ').cumcount() ##is the new index 
#interest_r
plasma_pivot = plasma.pivot(index='power_count', columns='Power ', values='Etching Rate')
#interest_r_pivot
plasma_pivot.columns = ['Power'+str(x) for x in plasma_pivot.columns.values]
plasma_pivot.head(10)

             Power160 W  Power180 W  Power200 W
power_count
0                  5.43        6.24        8.79
1                  5.71        6.71        9.20
2                  6.22        5.98        7.90
3                  6.01        5.66        8.15
4                  5.59        6.60        7.55

In [30]:
# mean for each plasma power level
plasma_pivot.mean()

Power160 W    5.792
Power180 W    6.238
Power200 W    8.318
dtype: float64

In [31]:
Fstat, pvalue_anova = st.f_oneway(plasma_pivot['Power160 W'], plasma_pivot['Power180 W'], plasma_pivot['Power200 W'])

In [32]:
print("The p-value is {:.4f}".format(pvalue_anova))
print("The t-statistic is {:.4f}".format(Fstat))

The p-value is 0.0000
The t-statistic is 36.8790

### Conclusions
1. There is at least one mean that is significantly different from the others at a significance level of 0.05.
2. We would need to conduct post hoc test (multiple pairwise comparison) to know which pairs are significantly different from each other.
3. Besides that, the number of replicates for each treatment is very low (low number of degrees of freedom). It would be advisable to collect for samples for each power level to have more robust results.